* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

.header {
  height: 100%;
  background-image: url("./img/snow.jpeg");
  background-size: cover;
}

.fa-snowflake {
  position: absolute;
  top: -20px;
  color: #fff;
  animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}